<% map = Map.find_by(id: params["id"]) %>


    <h1><%= map.name %> </h1>
<%= image_tag map.picture_url %>
<br>


<!-- <div class="row">

  <div class="col-sm-6">
    <%= image_tag map.picture_url %>
  </div>
  <div class="col-sm-6">
   asdfasdf
      </div>

  </div>
</div>
 -->