<%stock = User.find_by(email: "Stock@example.org")%>
<%if session[:user_id] == stock.id %>

<div class="row">

  <div class="my-3">
    <%= link_to "Add a New User", "/users/new", class: 'btn btn-primary' %>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%stock = User.find_by(email: "Stock@example.org")%>
      <% @users.each do |user| %>
      <%if user.id != stock.id%>
        <tr>
          <td><%= user.email %></td>
          <td>
            <%= link_to "[Delete]", "/users/#{user.id}", method: 'delete' %>
          </td>
        </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
</div>

<%else%>
<p>You are not allowed to access this page.  </p>
<%end%>
